<!-- First Step -->
<div [@slideInOut]="currentStep" id="home" class="flex-1 flex items-center">
  <div
    id="first-step"
    class="flex items-center justify-center h-full flex-1 px-4"
    *ngIf="currentStep == 'stepOne'">
    <form
      class="flex flex-col items-center justify-center w-full md:w-3/4 lg:w-2/3 xl:w-1/2">
      <mat-form-field floatLabel="always" class="w-full">
        <mat-label class="sr-only">Website URL to add</mat-label>
        <input matInput type="url" placeholder="" [formControl]="url" />
        <span
          matTextPrefix
          class="dark:text-zinc-400"
          (click)="switchProtocol()"
          role="button"
          tabindex="0"
          (keyup.enter)="switchProtocol()"
          >{{ protocol }}&nbsp;</span
        >
        <mat-error *ngIf="url.hasError('pattern') && !url.hasError('required')"
          >URL in wrong format (Ex: https://example.com)</mat-error
        >
        <mat-error *ngIf="url.hasError('required')"
          >URL is <strong>required</strong></mat-error
        >
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="nextStep()">
        Add site
      </button>
    </form>
  </div>

  <!-- Second Step -->
  <div
    id="second-step"
    class="mx-auto w-full md:w-3/4 lg:w-2/3 xl:w-1/2 mt-20 px-2"
    *ngIf="currentStep == 'stepTwo'">
    <div>
      <div class="flex flex-row justify-between items-center">
        <div>
          <h1 class="dark:text-white text-black text-lg font-bold">
            Add Pages
          </h1>
        </div>
        <div class="flex justify-end items-center flex-row gap-x-2">
          <div>
            <button mat-flat-button color="primary" (click)="done()">
              {{ pages.length > 0 ? 'Submit Pages' : 'Skip' }}
            </button>
          </div>
        </div>
      </div>
      <div
        class="mt-12 bg-white dark:bg-gray-800 px-4 py-4 mb-12 rounded-lg shadow-lg">
        <form class="flex flex-col w-full space-x-1">
          <div class="w-full">
            <mat-form-field floatLabel="always" class="w-full">
              <input
                matInput
                type="url"
                placeholder=""
                [formControl]="pageInput"
                (input)="onPageInput()" />
              <span matTextPrefix class="dark:text-zinc-400"
                >{{ protocol }}&nbsp;</span
              >
              <mat-error
                *ngIf="
                  pageInput.hasError('pattern') &&
                  !pageInput.hasError('requiredField')
                "
                >URL in wrong format (Ex: https://example.com)</mat-error
              >
              <mat-error *ngIf="pageInput.hasError('requiredField')"
                >URL is <strong>required</strong></mat-error
              >
              <mat-error *ngIf="pageInput.hasError('duplicate')"
                >URL already added</mat-error
              >
              <mat-error
                *ngIf="
                  pageInput.hasError('invalidSubpage') &&
                  !pageInput.hasError('requiredField') &&
                  !pageInput.hasError('pattern')
                "
                >Page must be a subpage of the website URL provided</mat-error
              >
            </mat-form-field>
          </div>
          <div class="w-full flex flex-row justify-end">
            <button mat-flat-button color="primary" (click)="addPage()">
              Add Page
            </button>
          </div>
        </form>
      </div>
    </div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <div class="px-4 dark:text-white">Pages To Add</div>
        </mat-card-title>
        <mat-card-subtitle>
          <div class="px-4">
            You have {{ pages.length }}
            {{ pages.length != 1 ? 'pages' : 'page' }}
            to be added
          </div>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let page of pages">
          <div class="py-8 px-4 flex items-center justify-between">
            <span class="dark:text-white">{{ page }}</span>
            <button mat-icon-button (click)="removePage(page)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                class="w-6 h-6 dark:fill-white">
                <path
                  fill-rule="evenodd"
                  d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.72 6.97a.75.75 0 1 0-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 1 0 1.06 1.06L12 13.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L13.06 12l1.72-1.72a.75.75 0 1 0-1.06-1.06L12 10.94l-1.72-1.72Z"
                  clip-rule="evenodd" />
              </svg>
            </button>
          </div>
          <mat-divider></mat-divider>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
