/* Dark mode colors */
@media (prefers-color-scheme: dark) {
  table {
    background-color: #1f2937 !important;
  }

  mat-paginator {
    background-color: #1f2937 !important;
    color: white !important;
  }

  th {
    color: white !important;
  }

  td {
    color: white !important;
  }
}
