.top-error-chip {
  background-color: #d4d4d4 !important;
}

/* Dark mode colors */
@media (prefers-color-scheme: dark) {
  table {
    background-color: #1f2937 !important;
  }

  mat-paginator {
    background-color: #1f2937 !important;
    color: white !important;
  }

  .top-error-chip {
    background-color: #111827 !important;
  }
}
